@font-face {
  font-family: RedHatText;
  src: url(/Resources/RedHatText-VariableFont_wght.ttf);
}

@font-face {
  font-family: RedHatText-italic;
  src: url(/Resources/RedHatText-Italic-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcf8f5;
  font-family: RedHatText;
  width: 100%;
  transition: 0.4s ease-out all;
}

main {
  margin: 0;
  padding: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: 87%;
}

#products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65%;
}

#products h1 {
  margin: 10px 0;
  margin-top: 0;
  font-family: RedHatText;
  font-size: 38px;
  color: #270d06;
  font-weight: 700;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  row-gap: 25px;
  column-gap: 15px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 0;
  align-items: center;
  text-align: start;
  width: fit-content;
}

.items img {
  width: 230px;
  border: 0;
  border-radius: 10px;
}

.add {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #b0a2a3;
  padding: 10px 20px;
  align-items: center;
  border-radius: 50px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: -38px;
  transition: 0.2s ease-out;
  min-width: 43%;
  max-width: 45%;
}

.add:hover {
  border-color: #c83b0e;
  color: #c83b0e;
}

.add img {
  width: 19px;
}

.add p {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
}

.added {
  background-color: #c83b0e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 8px 17px;
  height: fit-content;
  margin-top: -38px;
  border: 0;
  width: 47%;
}

.added p {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.added img {
  width: 10px;
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 10px;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

.desktop {
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  margin: 0;
  gap: 5px;
}

.info p {
  margin: 0;
  font-size: 15px;
  color: #b0a2a3;
  font-weight: 400;
}

.info h2 {
  margin: 0;
  font-size: 17px;
  color: #270d06;
  font-weight: 600;
}

.info h3 {
  margin: 0;
  font-size: 17px;
  color: #c83b0e;
  font-weight: 600;
}

#cart {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #fff;
  border-radius: 15px;
  height: max-content;
  padding: 25px;
  align-items: start;
}

#cart h1 {
  font-weight: 700;
  color: #c83b0e;
  margin: 5px 0;
  text-align: left;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 7px 0;
}

.empty img {
  width: 35%;
}

.empty p {
  color: #87635a;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.confirm-order-btn {
  border: 0;
  color: #fff;
  background-color: #c83b0e;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  display: none;
}

#confirmed {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  min-height: 100vh;
  height: 185%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.confirmed {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  align-items: start;
  height: fit-content;
  gap: 50px;
  width: auto;
}

.sold {
  width: 50px;
}

.confirmed h2 {
  font-size: 40px;
  font-weight: 700;
  color: #270d06;
  margin: 0;
  margin-top: 3px;
}

.confirmed p {
  font-size: 16px;
  color: #87635a;
  margin: 0;
  font-weight: 600;
}

#orders {
  background-color: #fcf8f5;
  border-radius: 10px;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 0;
}

.order p {
  color: #270d06;
  font-size: 18px;
  font-weight: 700; 
}

.not-price {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.not-price img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.item-confirmed-details {
  display: flex;
  flex-direction: column;
  gap: auto;
  justify-content: space-evenly;
}

.item-confirmed-details h3 {
  color: #270d06;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.item-confirmed-details p {
  color: #87635a;
  font-weight: 500;
  font-size: 16px;
}

.item-confirmed-details div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.confirmed button {
  width: 100%;
  background-color: #c83b0e;
  color: #fff;
  padding: 15px 0;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}

hr {
  margin: 7px 0;
  width: 100%;
  border: 1px solid #b0a2a3;
}

.confirmed-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 0;
}

.confirmed-total h2 {
  color: #270d06;
  font-size: 25px;
  margin: 0;
}

.confirmed-total p {
  margin: 0;
  font-size: 17px;
  color: #270d06;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  main {
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    justify-content: center;
  }

  #products {
    width: 100%;
    align-self: center;
    margin: auto;
  }

  #cart {
    width: 90%;
  }

  .empty p {
    font-size: 20px;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 70px 20px;
    gap: 40px;
  }

  #cart {
    width: 90%;
    align-self: center;
  }

  .empty p {
    font-size: 20px;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  main {
    padding: 30px 10px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .tablet {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: initial;
    overflow  : hidden;
  }

  #products {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
  }

  #products h1 {
    font-size: 35px;
  }

  .products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .items {
    width: 100%;
  }

  .items img {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .tablet {
    display: none;
  }

  .add {
    width: 38%;
  }

  .add img {
    width: 18px;
  }

  .added img {
    width: 16px;
  }

  #cart {
    width: 85%;
    gap: 30px;
  }

  .empty {
    width: 100%;
  }

  .empty img {
    width: 40%;
  }

  #confirmed {
    padding: 0;
    margin: 0;
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
    /* height: auto; */
    overflow: scroll;
  }
  
  .confirmed {
    overflow: scroll;
    margin-top: auto;
    margin: 0;
  }
}
